*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root.dark {
  --bg-overlay: rgba(0, 0, 0, .55);
  --text-color: #f0f0f0;
  --card-bg: rgba(30, 30, 40, .5);
  --accent-color: rgb(237, 231, 154);
}

:root.light {
  --bg-overlay: rgba(255, 255, 255, .55);
  --text-color: #0f0f0f;
  --card-bg: rgba(225, 225, 215, .5);
  --accent-color: rgb(10, 15, 100);
}

h1{
  color: var(--text-color);
}